/New folder image/_notes/dwsync.xml
/_notes/dwsync.xml
/bootstrap4/css/_notes/dwsync.xml
/bootstrap4/js/_notes/dwsync.xml
/h-slider-pics/_notes/dwsync.xml
/icon pics/_notes/dwsync.xml
/pics/_notes/dwsync.xml
/soft links/_notes/dwsync.xml